h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: .25rem;
  padding: .25rem;
}
.start {
  font-size: 1rem;
  margin: .25rem;
  padding: .25rem;
}

.sequence {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: .25rem;
  padding: .25rem;

  border: 0.5rem solid white;
  border-radius: 1rem;
  color: transparent;
  cursor: pointer;
}

.sequence.border, .sequence:active {
  border: 0.5rem solid black;
  border-radius: 1rem;
}

.red { background-color: #e55934; }
.green { background-color: #9bc53d; }
.yellow { background-color: #fde74c; }
.blue { background-color: #5bc0eb; }
